body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Neuton", serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  padding-top: 2rem;
  background-color: #e2edff;
}

.svg-project {
  padding: 0;
  margin: 0;
}
