@media (min-width: 375px) and (max-width: 767px) {
  .header ul {
    display: none;
  }
  .navbar {
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo {
    padding-top: 25px;
    padding-bottom: 9px;
  }
  .hamburger-menu,
  .change {
    z-index: 100;
  }
  .hamburger-menu {
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-11px, 9px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -4px);
  }
  .nav-container {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    height: calc(100vh - 70px);
    right: 0;
    width: 100%;
    top: 70px;
    display: flex;
    flex-direction: column;
  }
  .change .nav-container {
    opacity: 1;
    visibility: visible;
  }
  .drawer {
    flex-direction: column;
    display: flex;
    justify-content: normal;
    align-items: normal;
    padding-left: 19px;
    padding-top: 35px;
  }
  .drawer li:not(:last-child) {
    margin-bottom: 16px;
  }
  /*.logo {
    width: 75px;
    height: 26px;
    margin-left: 25px;
    margin-top: 26px;
    margin-bottom: 9px;
    }*/
  .main-banner {
    height: 700px;
    max-width: 100%;
    background: url("Clarity/img/banner.jpg");
  }
  h1.title-banner {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    width: 309px;
    height: 82px;
    padding-top: 129px;
    padding-left: 20px;
  }
  p.description-banner {
    width: 298px;
    height: 45px;
    text-align: center;
    padding-left: 20px;
    padding-top: 220px;
    font-size: 12px;
    line-height: 22px;
  }
  .title2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    width: 227px;
    height: 44px;
    margin: auto;
  }
  .deskripsi {
    font-size: 12px;
    line-height: 22px;
    width: 227px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
  }
  .input-banner {
    padding-top: 300px;
    padding-left: 20px;
  }
  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-item {
    /* width: 238px; */
    height: 323px;
    /* margin: 68px; */
    margin: 0 68px;
    margin: 50px;
    margin-top: 0;
  }
  p.content-name {
    margin-top: 0px;
    font-size: 14px;
    line-height: 21px;
  }
  input.addtocart {
    width: 209px;
    height: 34px;
  }
  p.stock {
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
    padding-bottom: 0px;
  }
  figure.item-thumbnail {
    padding-right: 0;
    height: 187px;
    width: 209px;
  }
  span.price {
    font-size: 14px;
    line-height: 21px;
  }
  .super {
    margin-right: 0;
    padding-right: 0;
    width: 179px;
    height: 179px;
    padding-left: 15px;
  }
  .areyou {
    font-size: 28px;
    line-height: 64px;
    font-weight: 700;
  }
  h2.title-reason {
    font-size: 28px;
    line-height: 36px;
    width: 181px;
    margin: auto;
    margin-top: 60px;
    padding-top: 0;
  }
  p.deskripsi-alasan {
    width: 285px;
    font-size: 12px;
    line-height: 22px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 21px;
  }
  .reason-box {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 16px;
    width: 324px;
    height: 204px;
  }
  .lingkaran-hijau {
    width: 60px;
    height: 60px;
  }
  p.section-reason {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 10px;
  }
  p.deskripsi-reason {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    padding-top: 0;
  }
  .shopnow,
  .viewproduct {
    width: 116px;
    height: 38px;
  }
  .age-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .young,
  .elderly {
    max-width: 100%;
    width: 375px;
    background-size: cover;
    height: 208px;
  }
  h2.title-age {
    font-size: 20px;
    line-height: 64px;
    font-weight: 700;
    height: 50px;
    padding-top: 36px;
  }
  p.deskripsi-age {
    font-size: 11px;
    line-height: 15px;
    width: 239px;
    text-align: center;
  }
  input.shopproduct {
    width: 117px;
    height: 25px;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 55px;
    margin-top: 25px;
  }
  .content-reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimoni-box {
    width: 325px;
    height: 256px;
  }
  h2.title-testimoni {
    font-size: 28px;
    line-height: 64px;
    font-weight: 700;
    margin-top: 60px;
  }
  p.deskripsi-testimoni {
    font-size: 12px;
    line-height: 22px;
    width: 222px;
    margin: auto;
    height: 44px;
    padding-bottom: 24px;
    padding-left: 76px;
    padding-right: 77px;
  }
  .testimoni {
    display: none;
  }
  .testimoni-phone {
    display: block;
    width: 275px;
    height: 88px;
    font-size: 12px;
    line-height: 22px;
    margin: auto;
  }
  .profil-testimonial {
    padding-top: 0;
    margin-top: 40px;
  }
  .contact-subscriber {
    background: linear-gradient(rgba(65, 81, 35, 0.86), rgba(65, 81, 35, 0.86)), url("Clarity/img/footer.png");
    height: 402px;
  }
  .title-subcribe {
    font-size: 28px;
    line-height: 40px;
    width: 216px;
    margin: auto;
    padding-top: 97px;
    padding-bottom: 9px;
  }
  .deskripsi-subcribe {
    font-size: 12px;
    line-height: 22px;
    margin: auto;
    width: 247px;
  }
  .input-subscriber {
    height: 39px;
    width: 300px;
  }
  .email {
    bottom: 0;
    width: 300px;
    height: 39px;
    padding-left: 25px;
    margin-right: 25px;
    line-height: 14px;
    font-size: 9px;
    color: #999999;
    margin-left: 25px;
    left: 0;
    right: 0;
    margin-top: 35px;
    margin-bottom: 97px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  #label-submit {
    padding-top: 0px;
    width: 78px;
    height: 25px;
    position: absolute;
    padding: 0;
    margin: 0;
  }
  .submit-email {
    line-height: 13px;
    margin-top: 0;
    font-weight: 600;
    font-size: 9px;
    border-radius: 5px;
    width: 94px;
    height: 31px;
    margin-left: 50px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 9px;
  }
  .table-email {
    width: 324px;
  }
  footer {
    height: 799px;
  }
  .footer-bottom {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
  }
  .kolom1 {
    text-align: center;
  }
  .logo-bottom {
    margin-top: 68px;
    padding-top: 0;
  }
  .description {
    padding-right: 0;
    margin: 0;
    font-size: 12px;
    line-height: 28px;
    height: 115px;
  }
  .kolom2 p {
    padding: 0;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .description2 {
    font-size: 14px;
    line-height: 21px;
    color: #cbd8b4;
  }
  .description3 {
    margin: 0;
    padding-top: 41px;
    color: #cbd8b4;
    font-size: 14px;
    line-height: 21px;
    width: 108px;
    height: 26px;
    margin: auto;
  }
  .content-description3 {
    margin: 0;
    padding-top: 17px;
    font-size: 12px;
    line-height: 18px;
  }
  .kolom2 {
    padding-left: 0;
  }
  .kolom3 {
    width: 100%;
  }
  .kolom4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    line-height: 18px;
    padding-top: 53px;
  }
  .input-text {
    width: 324px;
    height: 39px;
    margin-top: 36px;
    margin-bottom: 97px;
  }
  .input-text button {
    width: 78px;
    height: 25px;
    font-size: 9px;
    line-height: 9px;
    border-radius: 5px;
  }
  input[type="text"] {
    padding-right: 97px;
    font-size: 9px;
    line-height: 13px;
    font-weight: 400;
    padding-left: 5px;
  }
  .mail {
    width: 16px;
    height: 10px;
    color: #999999;
    position: absolute;
    left: 35px;
    display: inline;
    bottom: 117px;
  }
  .sosmed {
    padding-top: 0;
    padding-bottom: 23px;
  }
  .copyright {
    height: 64px;
    width: 100%;
    color: #cbd8b4;
    font-size: 11px;
    line-height: 16px;
  }
  p.telp {
    padding-bottom: 0;
    margin: 0;
  }
  p.gmail {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
